/* hide vertical-spacer */
#vertical-spacer {
  display: none !important;
}

/* center bookmarks toolbar */
#PlacesToolbarItems {
  justify-content: center;
  padding-bottom: 2px;
}

#PersonalToolbar {
  margin-top: -4px;
}

/* hide sidebar extension buttons */
moz-button[view$="-sidebar-action"] {
  display: none !important;
}