/* hide vertical-spacer */
#vertical-spacer {
  display: none !important;
}

/* center bookmarks toolbar */
#PlacesToolbarItems {
  justify-content: center;
}

/* hide sidebar extension buttons */
moz-button[view$="-sidebar-action"] {
  display: none !important;
}

/* hide sidebar setting buttons */
moz-button[view="viewCustomizeSidebar"] {
  display: none !important;
}

/* disable tabbrowser-tabbox border&shadow */
#tabbrowser-tabbox {
  outline: none !important;
  box-shadow: none !important;
}

/* hide status panel */
#statuspanel {
  display: none !important;
}
