/* hide vertical-spacer */
#vertical-spacer {
  display: none !important;
}

/* center bookmarks toolbar */
#PlacesToolbarItems {
  justify-content: center;
}

/* hide sidebar extension buttons */
moz-button[view$="-sidebar-action"] {
  display: none !important;
}